@(tasks : List[Task], taskForm : Form[TaskForm])

@import helper._

@main("Todo list"){

    <script type = "text/javascript">
        $(document).on('click', '.delete', function(event){
            $.ajax({
                url :  jsRoutes.controllers.Application.deleteTask(event.target.id ).url,
                type : jsRoutes.controllers.Application.deleteTask(event.target.id ).method,
                success : function( data, textStatus, jqXHR ) {
                    location.reload()
                },
                error : function(jqXHR,textStatus,errorThrown ) {
                    console.log(jqXHR)
                    console.log(textStatus)
                    console.log(errorThrown)
                }
            })

    })
    </script>

    <h1>@tasks.size task(s)</h1>

    <ul>
        @tasks.map{ task =>
            <li>
                @task.label
                <a  class = "delete" ><span id = "@task.id" class="glyphicon glyphicon-remove"></span></a>
            </li>
        }
    </ul>

    <h2>Add a new task</h2>

    @form(routes.Application.newTask){
        <div class = row>
            <div class = "col-lg-3 col-md-3">
                <div class = "form-group">
                    <label for = "labelInput">Label</label>
                    <input type = "text" class = "form-control" name = "label" placeholder = "Enter label"/>
                </div>
                <button class = "btn"  type = "submit">Create</button>
            </div>

        </div>
    }

}
